/* Sección de introducción */
.intro-section {
	text-align: center;
	padding: 50px 20px;
	background: rgba(47, 68, 106, 0.85);
	color: #fff;
	border-radius: 12px;
	margin-bottom: 30px;
}

.intro-section h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.intro-section p {
	font-size: 1.2rem;
	line-height: 1.6;
}

/* Sección de recursos */
.resources-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}

.resource-card {
	background: linear-gradient(to bottom right, rgba(194, 201, 207, 0.915), rgb(47, 68, 106));
	color: white;
	border-radius: 15px;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource-card i {
	font-size: 50px;
	margin-bottom: 20px;
}

.resource-card h2 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.resource-card p {
	font-size: 1rem;
	margin-bottom: 20px;
}

.resource-card a.button {
	background: rgb(126, 139, 77);
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 8px;
	transition: background 0.3s ease;
}

.resource-card a.button:hover {
	background: rgb(158, 176, 105);
}

.resource-card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Responsividad */
@media (max-width: 768px) {
	.resources-section {
		grid-template-columns: 1fr;
	}

	.intro-section {
		padding: 20px 10px;
	}
}
